In [160]:
# importing necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [161]:
# connecting to the driver
driver = webdriver.Chrome(r"E:\chromedriver.exe")
time.sleep(5)

### Q1.
Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
# opening the website
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(2)

In [4]:
# creating empty lists
rank = []
name = []
artist = []
date = []
views = []

In [5]:
# scraping data

try:
    r = driver.find_elements(By.XPATH, '//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[1]')
    for i in r:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
try:
    n = driver.find_elements(By.XPATH, '//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[2]')
    for i in n:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    ar = driver.find_elements(By.XPATH, '//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[3]')
    for i in ar:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
    
try:
    d = driver.find_elements(By.XPATH, '//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[5]')
    for i in d:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')
    
try:
    v = driver.find_elements(By.XPATH, '//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[4]')
    for i in v:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')

In [6]:
# printing the length of arrays

print(len(rank), len(name), len(artist), len(date), len(views))

30 30 30 30 30

In [7]:
# creating dataframe
most_viewed = pd.DataFrame({'Rank':rank, 'Name':name, "Artist":artist, "Upload_date":date, "Views (in billions)":views})
most_viewed

,Rank,Name,Artist,Upload_date,Views (in billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.38

### Q2.
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
# opening website
driver.get("https://www.bcci.tv/")
time.sleep(5)

In [9]:
# for international fixtures
international = driver.find_element(By.XPATH, '//*[@id="navigation"]/ul[1]/li[2]/a')
international.click()
time.sleep(2)

In [10]:
# creating empty list
Title = []
Series =[]
Place = []
Date = []
Time = []

In [11]:
# scraping data
try :
    ser = driver.find_elements(By.XPATH, '//div[@class="match-card-top"]/h5')
    for i in ser:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
try :
    ttl = driver.find_elements(By.XPATH, '//div[@class="match-card-middle__inner d-flex justify-content-between"]')
    for i in ttl:
        Title.append(i.text.replace('\n', ' '))
except NoSuchElementException:
    Title.append('-')
    
try :
    pl = driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')
    for i in pl:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
try :
    dt = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
    for i in dt:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
try :
    t = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    for i in t:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [12]:
# printing lenth of arrays
print(len(Title), len(Series), len(Place), len(Date), len(Time))

1 1 1 1 1

In [13]:
# creating dataframe
match_data = pd.DataFrame({'Series':Series, 'Title':Title, 'Place':Place, 'Date':Date, 'Time':Time})
match_data

,Series,Title,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,India vs Australia,London,7 JUN 2023,3:30 PM IST

### Q3.
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [20]:
# opening the website
driver.get("http://statisticstimes.com/")
time.sleep(5)

In [21]:
# chechking for indian state gdp
eco_drop = driver.find_element(By.XPATH, '//div[@class="navbar"]/div[2]/button')
eco_drop.click()

india = driver.find_element(By.XPATH, '//div[@class="dropdown"][2]/div/a[3]')
india.click()

In [22]:
try:
    state_gdp = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    state_gdp.click()
except:
    driver.refresh()
    state_gdp = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    state_gdp.click()

In [23]:
# creating empty lists
rank = []
state = []
gsdp18 = []
gsdp19 = []
share18 = []
gdp = []

In [24]:
# scraping data
try :
    rn = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[1]')
    for i in rn:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
try :
    st = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[2]')
    for i in st:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
    
try :
    gd = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[4]')
    for i in gd:
        gsdp18.append(i.text)
except NoSuchElementException:
    gsdp18.append('-')
    
try :
    gs = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[3]')
    for i in gs:
        gsdp19.append(i.text)
except NoSuchElementException:
    gsdp19.append('-')
    
try :
    sh = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[5]')
    for i in sh:
        share18.append(i.text)
except NoSuchElementException:
    share18.append('-')
    
try :
    gp = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[6]')
    for i in gp:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('-')

In [25]:
# printing length of arrays
print(len(rank),len(state),len(gsdp18),len(gsdp19),len(share18),len(gdp))

33 33 33 33 33 33

In [26]:
# creating dataframe

gdp_data = pd.DataFrame({'Rank':rank, 'Sate':state, 'GSDP(18-19)- at current prices':gsdp18,
                        'GSDP(19-20)- at current prices': gsdp19, 'Share(18-19)':share18, 'GDP($billion)':gdp})
gdp_data

,Rank,Sate,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### Q4.
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [165]:
# opening the website
driver.get("https://github.com/")
time.sleep(5)

In [166]:
try:
    drp_dwn = driver.find_element(By.XPATH,'//div[@class="flex-1 flex-order-2 text-right"]/button')
    drp_dwn.click()
except ElementNotInteractableException:
    driver.refresh()
    drp_dwn = driver.find_element(By.XPATH,'//div[@class="flex-1 flex-order-2 text-right"]/button')
    drp_dwn.click()

In [167]:
opn_src = driver.find_element(By.XPATH, '//ul[@class="d-lg-flex list-style-none"]/li[3]')
opn_src.click()

In [168]:
trend = driver.find_element(By.XPATH, '//ul[@class="d-lg-flex list-style-none"]/li[3]/div/div[3]/ul/li[2]')
trend.click()

In [169]:
# creating empty lists
title = []
description = []
contributors = []
language = []

In [120]:
# scraping data
try:
    ttl = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]')
    for i in ttl:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')
    
try:
    lan = driver.find_elements(By.XPATH, '//article[@class="Box-row"]/div/span/span[2]')
    for i in lan:
        language.append(i.text)
except NoSuchElementException:
    language.append('-')
    
    
repo_url = []
url = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]/a')
for i in url:
    repo_url.append(i.get_attribute('href'))
    
for j in repo_url:
    driver.get(j)
    time.sleep(5)
    
    try:
        des = driver.find_element(By.XPATH, '//p[@class="f4 my-3"]')
        description.append(des.text)
    except NoSuchElementException:
        description.append('-')

In [121]:
# printing length of arrays
print(len(title), len(description), len(contributors), len(language))

25 25 0 24

In [91]:
# creating dataframe

repo_data = pd.DataFrame({'Repo_Title':title, 'Description':description, 'Language used':language})
repo_data

,Repo_Title,Description,Language used
0,Zeqiang-Lai / DragGAN,"Online Demo and Implementation of DragGAN - ""D...",-
1,JiauZhang / DragGAN,Implementation of DragGAN: Interactive Point-b...,JiauZhang Mr. Zhang Sovea Sovea
2,google / comprehensive-rust,This is the Rust course used by the Android te...,-
3,kyegomez / tree-of-thoughts,Plug in and Play Implementation of Tree of Tho...,Python 100.0%
4,microsoft / PowerToys,Windows system utilities to maximize productivity,C# 60.0% C++ 38.2% PowerShell 0.9% C 0.8% HTML...
5,psf / requests,"A simple, yet elegant, HTTP library.",
6,kanboard / kanboard,Kanban project management software,PHP 97.7% JavaScript 1.5% Other 0.8%
7,microsoft / devhome,Windows Dev Home Application,
8,dalathegreat / BYD-Battery-Emulator-For-Gen24,This software converts the LEAF CAN into Modbu...,dalathegreat Daniel Öster JesperSOGT
9,kamiyaa / joshuto,ranger-like terminal file manager written in Rust,Rust 98.3% Shell 1.6% Dockerfile 0.1%
10,JushBJJ / Mr.-Ranedeer-AI-Tutor,A GPT-4 AI Tutor Prompt for customizable perso...,
11,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spider一...,NaiboWang Naibo Wang dependabot[bot] yfdyh000 ...
12,chinese-poetry / chinese-poetry,The most comprehensive database of Chinese poe...,
13,pengzhile / pandora,"潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT that h...",
14,facebookresearch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,
15,SkalskiP / courses,This repository is a curated collection of lin...,-
16,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,C# 81.3% Python 18.6% Other 0.1%
17,kreneskyp / ix,Autonomous GPT-4 agent platform,Python 63.8% JavaScript 34.2% Makefile 1.2% Do...
18,OpenGVLab / InternGPT,InternGPT (iGPT) is an open source demo platfo...,
19,w-okada / voice-changer,リアルタイムボイスチェンジャー Realtime Voice Changer,TypeScript 46.2% Python 32.0% Jupyter Notebook...
20,adams549659584 / go-proxy-bingai,用 Vue3 和 Go 搭建的微软 New Bing 演示站点，拥有一致的 UI 体验，支持...,HTML 48.9% Go 36.7% JavaScript 8.8% Vue 3.9% T...
21,opengeos / segment-geospatial,A Python package for segmenting geospatial dat...,@sarimazeem / farm_boundary @opengeos / geospa...
22,Azure-Samples / azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,-
23,openai / openai-cookbook,Examples and guides for using the OpenAI API,-
24,Casualtek / Ransomchats,-,-

### Q5.
Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/.
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [104]:
driver.get('https://www.billboard.com/')
time.sleep(2)

In [105]:
drp = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
drp.click()

charts = driver.find_element(By.XPATH, '//h3[@id="mega-menu-item-charts"]/a')
charts.click()

In [106]:
hot_100 = driver.find_element(By.XPATH, '//div[@class="u-flex-grow-0 lrv-u-text-align-center"]/span/a')
hot_100.click()

In [109]:
# creating empty lists
name = []
artist = []
rank = []
peak = []
weeks = []

In [110]:
# scraping data
try:
    nm = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
    for i in nm:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    ar = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in ar:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')

try:
    rn = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in rn:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
try:
    p = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in p:
        peak.append(i.text)
except NoSuchElementException:
    peak.append('-')
    
try:
    w = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for i in w:
        weeks.append(i.text)
except NoSuchElementException:
    weeks.append('-')

In [111]:
# printing length of arrays
print(len(name), len(artist), len(rank), len(peak), len(weeks))

100 100 100 100 100

In [112]:
hot100_data = pd.DataFrame({'Song_name':name, 'Artist':artist, 'Lastweek_rank':rank, 'Peak_rank':peak,
                           'Weeks_on_Chart':weeks})
hot100_data

,Song_name,Artist,Lastweek_rank,Peak_rank,Weeks_on_Chart
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

### Q6.
Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [125]:
driver.get("https://www.theguardian.com")

### Q7.
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/.
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [126]:
# opening website
driver.get("https://www.imdb.com/list/ls095964455/")

In [127]:
# creating empty lists
name = []
year = []
genre = []
time = []
rating = []
votes = []

In [128]:
# scraping data
try:
    nm = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/h3/a')
    for i in nm:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    y = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/h3/span[2]')
    for i in y:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')
    
try:
    gen = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/p[1]/span[5]')
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
    
try:
    tm = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/p[1]/span[3]')
    for i in tm:
        time.append(i.text)
except NoSuchElementException:
    time.append('-')
    
try:
    rate = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/div[1]/div/span[2]')
    for i in rate:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('-')
    
try:
    vote = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in vote:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

In [129]:
# printing length of arrays
print(len(name), len(year), len(genre), len(time), len(rating), len(votes))

100 100 100 100 100 100

In [130]:
# creating dataframe

series_data = pd.DataFrame({'Series_name':name, 'Year_span':year, 'Genre':genre, 'Rumtime':time, 'Ratings':rating,
                           'Votes':votes})

series_data

,Series_name,Year_span,Genre,Rumtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,162,508"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,242,590"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,347"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,211"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,313"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,683"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,716"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,679"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,210"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,210"

### Q8.
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/.
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [144]:
driver.get("https://archive.ics.uci.edu/")

In [145]:
all_data = driver.find_element(By.XPATH, '//body/table[1]/tbody/tr/td[2]/span[2]/a')
all_data.click()

In [146]:
# creating empty lists
name = []
datatype = []
task = []
attributetype = []
instancenum = []
attributenum = []
year = []

In [147]:
# scraping data
try:
    nm = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
    for i in nm:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    dt = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
    for i in dt:
        datatype.append(i.text)
except NoSuchElementException:
    datatype.append('-')
    
try:
    ts = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
    for i in ts:
        task.append(i.text)
except NoSuchElementException:
    task.append('-')
    
try:
    att = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
    for i in att:
        attributetype.append(i.text)
except NoSuchElementException:
    attributetype.append('-')
    
try:
    ins = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
    for i in ins:
        instancenum.append(i.text)
except NoSuchElementException:
    instancenum.append('-')
    
try:
    attnum = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
    for i in attnum:
        attributenum.append(i.text)
except NoSuchElementException:
    attributenum.append('-')
    
try:
    y = driver.find_elements(By.XPATH, '//body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
    for i in y:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')

In [148]:
print(len(name), len(datatype), len(task), len(attributetype), len(instancenum), len(attributenum), len(year))

622 623 623 623 623 623 623

In [149]:
# creating dataframe

uci_data = pd.DataFrame({'Dataset_name':name, 'Dataset_type':datatype[1:], 'Task':task[1:], 'Attribute_types':attributetype[1:],
                        'Num_of_Instances':instancenum[1:], 'Num_of_Attributes':attributenum[1:], 'Year':year[1:]})

uci_data.head(10)

,Dataset_name,Dataset_type,Task,Attribute_types,Num_of_Instances,Num_of_Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987

### Q9.
Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [152]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [153]:
position = driver.find_element(By.XPATH, '//input[@class="sugInp"]')
position.send_keys('Data Science')

search = driver.find_element(By.XPATH, '//button[@id="qsbFormBtn"]')
search.click()

In [154]:
# creaing empty lists
name = []
designation = []
company = []
skill = []

In [155]:
# scraping data from 1st page only
try:
    nm = driver.find_elements(By.XPATH, '//div[@class="recInfo"]/div/p/a[1]/span')
    for i in nm:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
    
try:
    des = driver.find_elements(By.XPATH, '//div[@class="recInfo"]/div/p/span[1]')
    for i in des:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('-')
    
try:
    cmp = driver.find_elements(By.XPATH, '//div[@class="recInfo"]/div/p/a[2]/i')
    for i in cmp:
        company.append(i.text)
except NoSuchElementException:
    company.append('-')
    
try:
    sk = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')
    for i in sk:
        skill.append(i.text)
except NoSuchElementException:
    skill.append('-')

In [156]:
# printing length of arrays
print(len(name), len(designation), len(company), len(skill))

50 50 50 50

In [159]:
# creating dataframe
recruiter_data = pd.DataFrame({'Recruiter_name':name, 'Company':company, 'Designation':designation, 'Skills they hire for':skill})

recruiter_data

,Recruiter_name,Company,Designation,Skills they hire for
0,Aakash Harit,,HR Manager,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,,Company Recruiter,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,,Company HR,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,,Programme Manager,Data Science
7,Balu Ramesh,,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,,Director,"Technical Training, Software Development, Pres..."
9,InstaFinancials,,Human Resource,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,,Company HR,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,,Company HR,"Office Administration, Hr Administration, tele..."
13,Priyanka Akiri,,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET..."
14,Kapil Devang,,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science"
15,Mahesh Babu Channa,,HR Team Lead,"Social Media, digital media maketing, seo, smm..."
16,Vaishnavi Kudalkar,,HR Executive,"Data Science, Python, Data Analytics"
17,Sakshi Chhikara,,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,,HR Executive,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,,Manager Talent Acquisition,Data Science
21,Rashmi Bhattacharjee,,HR Head,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,,HR MANAGER,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Deeparchi Sharma,,Company Recruiter,"Research, Digital Marketing, Analytics, Softwa..."
27,Azahar Shaikh,,Company Recruiter,"Data Science, Artificial Intelligence, Machine..."
28,Manas,,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product..."
29,kumar,,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
30,Sunil Vedula,,CEO,"Signal Processing, Machine Learning, Neural Ne..."
31,Rajat Kumar,,Founder CEO,"Web Technologies, Project Management, Software..."
32,Dhruv Dev Dubey,,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ..."
33,Avnish Mishra,,Senior Technical &amp; Corporate Recruiter,"Data Science, Machine Learning, Deep Learning,..."
34,Jayanth N,,Project Manager,"Data Analytics, Managed Services, Team Leading..."
35,Avodha,,Business Development Associate,"Ethical Hacking, Security Operations Center, S..."
36,Priya Khare,,Senior Manager,"Data Science, Artificial Intelligence, analyti..."
37,Amit Sharma,,Consultant,"Machine Learning, Artificial Intelligence, Dat..."
38,Kanan,,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ..."
39,Shashikant Chaudhary,,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private..."
40,Brad,,"Manager, Technical Recruiting","Data Science, Software Engineering"
41,Rutuja Pawar,,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark..."
42,Madhusudhan Sridhar,,Erp Implementer,"Data Science, Recruitment, Salary"
43,Ankit Sinha,,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
44,Gaurav Chouhan,,Chief Technical Officer,"Software Development, Business Intelligence, B..."
45,Rashi Kacker,,Sr Product Manager,"Data Science, Node.js, Angularjs"
46,Ashwini,,Director Global Delivery,"Data Science, Media Marketing, Resource Planni..."
47,Balaji Kolli,,Co Founder,"Data Analysis, Learning, Data Science, Compute..."
48,Rajani Nagaraj,,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
49,ROHIT Kumar,,Architect,"Software Development, Core Java, Unit Testing,..."