In [1]:
# importing necessary libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
# connecting to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Downloads\chromedriver.exe")

### Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
# opening the website
driver.get("https://www.naukri.com/")

In [4]:
# entering the designation, location as required in the question
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Analyst')

In [5]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [6]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [7]:
# creating empty lists for data
job_title = []
job_loc = []
cpny_name = []
exp_req = []

In [8]:
title = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text)
    
location = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    job_loc.append(i.text)
                   
name = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in name[0:10]:
    cpny_name.append(i.text)
    
exp = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    exp_req.append(i.text)

In [9]:
# length of arrays
print(len(job_title), len(job_loc), len(cpny_name), len(exp_req))

10 10 10 10

In [10]:
# creating dataframe
naukri_data = pd.DataFrame({'Title':job_title, 'Location':job_loc, 'Company':cpny_name, 'Experience':exp_req})

In [11]:
naukri_data

,Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Mumbai, Hyderabad/Secunderabad, Pune, Ahmedaba...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,"Temp. WFH - Noida, Pune, Gurgaon/Gurugram, Ban...",Infogain,4-7 Yrs
8,Banking Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, G...",Coforge,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs

### Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [12]:
# opening the website
driver.get("https://www.naukri.com/")

In [13]:
# entering the designation, loation as required in the question
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Scientist')

In [14]:
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [15]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [16]:
# creating empty lists for data
job_title = []
job_loc = []
cpny_name = []

In [17]:
title = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text)
    
location = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    job_loc.append(i.text)
                   
name = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in name[0:10]:
    cpny_name.append(i.text)

In [18]:
# length of arrays
print(len(job_title), len(job_loc), len(cpny_name))

10 10 10

In [19]:
# creating dataframe
naukri_datasct = pd.DataFrame({'Title':job_title, 'Location': job_loc, 'Company_Name': cpny_name})

In [20]:
naukri_datasct

,Title,Location,Company_Name
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer
2,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics
3,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent
4,Permanent Opportunity For Data scientist with AWS,"Hybrid - Chennai, Coimbatore, Bangalore/Bengal...",Deloitte
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,R&D Specialist,Bangalore/Bengaluru,Nokia
7,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
8,Data Science Analyst,Bangalore/Bengaluru,Accenture
9,Data Scientist,Bangalore/Bengaluru,IBM

### Q3. In this question you have to scrape data using the filters available on the webpage. You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [21]:
# opening the website
driver.get('https://www.naukri.com/')

In [22]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME, 'suggestor-input')
designation.send_keys('Data Scientist')

In [23]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [25]:
# location and salary using filters
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()

In [26]:
salary = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [27]:
# creating empty lists for data
job_title = []
job_loc = []
cpny_name = []
exp_req = []

In [28]:
title = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text)
    
location = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location[0:10]:
    job_loc.append(i.text)
                   
name = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in name[0:10]:
    cpny_name.append(i.text)
    
exp = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    exp_req.append(i.text)

In [29]:
# length of arrays
print(len(job_title),len(job_loc),len(cpny_name),len(exp_req))

10 10 10 10

In [30]:
# creating dataframe
data = pd.DataFrame({'Job_Title':job_title, 'Location':job_loc, 'Company_Name': cpny_name, 'Experience':exp_req})

In [31]:
data

,Job_Title,Location,Company_Name,Experience
0,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer,3-5 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
5,Data Scientist - II (Contract),Gurgaon/Gurugram,Netomi,3-7 Yrs
6,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
7,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,0-2 Yrs
8,Data Scientist - I,Gurgaon/Gurugram,Netomi,3-6 Yrs
9,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs

### Q4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. discount

In [43]:
# opening the website
driver.get('https://www.flipkart.com/')

In [44]:
# entering the product name as requird
product = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [45]:
search = driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [46]:
# creating empy lists fror data
brand = []
description = []
price = []
discount = []

In [47]:
# scraping data across multiple pages
start = 0
end = 3
for page in range(start,end):
    bran_d = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in bran_d:
        brand.append(i.text)
        
    des = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in des:
        description.append(i.text)
        
    pr = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
    
    dscnt = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
    for i in dscnt:
        discount.append(i.text)
        
        
    # to scrape data from next page
    next_button= driver.find_element(By.XPATH, '//span[contains(text(),"Next")]')
    next_button.click()
    time.sleep(5)

In [48]:
# length of arrays 
print(len(brand), len(description), len(price), len(discount))

120 117 120 120

In [57]:
# creating datafarame
sunglass_df = pd.DataFrame({'Brand':brand[:100], 'Description':description[:100], 'Price':price[:100], 'Discount':discount[:100]})

In [58]:
sunglass_df

,Brand,Description,Price,Discount
0,Labbin,Casual Sneakers ColourFul Block Shoes For Boys...,₹599,57% off
1,Labbin,Sneakers For Men,₹429,51% off
2,Kraasa,Sneakers For Women,₹299,85% off
3,aadi,Synthetic| Lightweight| Premiun| Comfort| Summ...,₹269,83% off
4,BIRDE,Combo Pack of 2 Casual Shoe Sneakers For Men,₹449,81% off
...,...,...,...,...
95,HOTSTYLE,Puma Wired Cage Sneakers For Men,₹499,72% off
96,Kraasa,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹299,74% off
97,SOLETHREADS,Spider Prime Walking/Outdoor/Sports/Sneakers/ ...,"₹1,549",72% off
98,PUMA,Stylish Walking Partywear Sneakers Casual Shoe...,"₹1,259",45% off
99,Elevarse,UP Sneakers For Men,₹249,72% off

### Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/ itm4e5041ba101fd pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART You have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [51]:
# opening the website
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

## #opening the website sows that the page is moved or deleted.

### Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [60]:
# opening the website
driver.get('https://www.flipkart.com/')

In [61]:
# entering product name as mentioned in the question
product = driver.find_element(By.CLASS_NAME, '_3704LK')
product.send_keys('sneakers')

In [62]:
search = driver.find_element(By.CLASS_NAME, 'L0Z3Pu')
search.click()

In [63]:
# creating empty lists for data
brand = []
description = []
price = []

In [64]:
# scraping data from multiple pages
start = 0
end = 3
for page in range(start,end):
    bran_d = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in bran_d:
        brand.append(i.text)
        
    des = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in des:
        description.append(i.text)
        
    pr = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in pr:
        price.append(i.text)
        
    next_button = driver.find_element(By.XPATH, "//span[contains(text(),'Next')]")
    next_button.click()
    time.sleep(5)

In [65]:
# length of array
print(len(brand), len(description), len(price))

120 116 120

In [67]:
# creating dataframe
sneaker_df = pd.DataFrame({'Brand_Name':brand[:100], "Product_Description":description[:100], "Price":price[:100]})

In [68]:
sneaker_df

   Brand_Name                                Product_Description   Price
0      Labbin  Casual Sneakers ColourFul Block Shoes For Boys...    ₹599
1      Labbin                                   Sneakers For Men    ₹429
2      Kraasa                                 Sneakers For Women    ₹299
3        aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...    ₹269
4       BIRDE       Combo Pack of 2 Casual Shoe Sneakers For Men    ₹449
..        ...                                                ...     ...
95   HOTSTYLE                   Puma Wired Cage Sneakers For Men    ₹499
96     Kraasa      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹299
97     Footox  Spider Prime Walking/Outdoor/Sports/Sneakers/ ...    ₹499
98       PUMA  Stylish Walking Partywear Sneakers Casual Shoe...  ₹1,259
99   Elevarse                                UP Sneakers For Men    ₹249

[100 rows x 3 columns]

### Q7. Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [69]:
# opening the wbsite
driver.get("https://www.amazon.in/")

In [70]:
# entering product details
product = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [71]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [72]:
# setting filters
cpu = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[11]/li/span/a/span')
cpu.click()

In [74]:
# creating empty lists for data
title = []
price = []
rating = []

In [75]:
ttl = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in ttl:
    title.append(i.text)
    
pr = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in pr:
    price.append(i.text)

rate = driver.find_elements(By.XPATH, '//a[@class="a-popover-trigger a-declarative"]')
for i in rate:
    rating.append(i.text)

In [76]:
# length of arrays
print(len(title), len(price), len(rating))

24 32 26

In [77]:
# creating dataframe
laptop = pd.DataFrame({'Title':title[:10], 'Price':price[:10], "Ratings":rating[:10]})

In [78]:
laptop

                                               Title     Price Ratings
0  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...    94,989
1  Acer Predator Helios Neo 16 Gaming Laptop 13th...  1,29,990
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    98,990
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    88,990
4  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    79,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...    79,990
6  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...  1,02,990
7  MSI Modern 14, Intel 13th Gen. i7-1355U, 36CM ...    74,990
8  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....    85,490
9  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...    99,990

### Q8. Write a python program to scrape data for Top 1000 Quotes of All Time.The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [79]:
# opening the website
driver.get(' https://www.azquotes.com/')

In [81]:
# top quotes from website
top_quote = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

In [82]:
# creating empty list for data
quote = []
author = []
type_quote = []

In [83]:
# scraping data from multiple pages
start = 0
end = 10
for page in range(start,end):
    quo = driver.find_elements(By.XPATH, '//a[@class="title"]')
    for i in quo:
        quote.append(i.text)
        
    athr = driver.find_elements(By.XPATH, '//div[@class="author"]')
    for i in athr:
        author.append(i.text)
    
    typ_ = driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in typ_:
        type_quote.append(i.text)
        
    next_button = driver.find_element(By.CLASS_NAME,'next')
    next_button.click()
    time.sleep(3)

In [84]:
# length of array
print(len(quote),len(author),len(type_quote))

1000 1000 1000

In [85]:
# creating dataframe
quote_data = pd.DataFrame({'Quote':quote, 'Author':author, 'Types':type_quote})
quote_data

,Quote,Author,Types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9. Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [86]:
# opening the website
driver.get(' https://www.jagranjosh.com/')

In [87]:
#selecting the gk option
gk = driver.find_element(By.XPATH, '/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [89]:
# selecting the list of prime ministers
pm = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

### Q10. Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/. This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [111]:
# opening the website
driver.get("https://www.motor1.com/")

In [112]:
# the dropdown menu
dropdown = driver.find_element(By.CLASS_NAME, 'm1-hamburger-button')
dropdown.click()

In [113]:
toggle = driver.find_element(By.XPATH, '/html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
toggle.click()

In [114]:
list_ = driver.find_element(By.XPATH, '/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
list_.click()

In [115]:
# list of 50 fastest cars
fast_50 = driver.find_element(By.XPATH, '//a[contains(text(),"50 Fastest")]')
fast_50.click()

In [116]:
# creaing empty lists for data
name = []
speed =[]

# finding name and price 
nam_e = driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in nam_e:
    name.append(i.text)

In [117]:
name.pop()

'Fastest Cars In The World'

In [118]:
pr = driver.find_elements(By.TAG_NAME,'strong')
for i in pr:
    speed.append(i.text.split(':')[1].strip())

In [119]:
# creating data frame
fast50 = pd.DataFrame({'Car_Name':name, 'Speed':speed})

In [120]:
fast50

                                 Car_Name      Speed
0                       Ferrari LaFerrari    217 MPH
1                              McLaren P1    217 MPH
2                        Mercedes-AMG One    217 MPH
3                 Lamborghini Sian FKP 37    217 MPH
4                             Lotus Evija    217 MPH
5                Bugatti Chiron Pur Sport    218 MPH
6                            Ferrari Enzo  218.7 MPH
7                    Pininfarina Battista    218 MPH
8                     Aston Martin One-77    220 MPH
9   Lambo Aventador LP780-4 Ultimae Coupe    220 MPH
10                Pagani Huayra Codalunga    220 MPH
11                          De Tomaso P72    221 MPH
12                   Lamborghini Countach    221 MPH
13                     Lamborghini Veneno    221 MPH
14                     Gordon Murray T.50    230 MPH
15                         Pagani Zonda R    233 MPH
16    Pagani Huayra BC Pacchetto Tempesta    236 MPH
17                           Bugatti Divo    236 MPH
18                          Pagani Huayra    238 MPH
19                     Bugatti Centodieci    240 MPH
20                           Deus Vayanne    248 MPH
21                             McLaren F1  240.1 MPH
22                         Koenigsegg CCR  241.0 MPH
23                      Koenigsegg Gemera    249 MPH
24                             Aspark Owl    249 MPH
25                     Koenigsegg Agera R    249 MPH
26                  Aston Martin Valkyrie    250 MPH
27                         Tesla Roadster   250 MPH+
28              W Motors Fenyr SuperSport    250 MPH
29                      McLaren Speedtail  250.4 MPH
30                         Bugatti Veyron  253.8 MPH
31                      SSC Ultimate Aero  257.4 MPH
32                           Rimac Nevera    258 MPH
33               Bugatti La Voiture Noire    260 MPH
34                        Bugatti Mistral    261 MPH
35                           Zenvo TSR-GT    263 MPH
36        Bugatti Veyron 16.4 Super Sport  267.9 MPH
37                     Hennessey Venom GT  270.5 MPH
38             Bugatti Chiron Super Sport    273 MPH
39                       Koenigsegg One:1    273 MPH
40                    Koenigsegg Agera RS  277.9 MPH
41                            Czinger 21C    281 MPH
42                            SSC Tuatara  295.0 MPH
43            Hennessey Venom F5 Roadster   300 MPH+
44                       Koenigsegg CC850   300 MPH+
45        Bugatti Chiron Super Sport 300+  304.8 MPH
46                    SP Automotive Chaos   310 MPH+
47                     Hennessey Venom F5    311 MPH
48                         Bugatti Bolide    311 MPH
49               Koenigsegg Jesko Absolut    330 MPH